<!DOCTYPE html>
<html>
  <head>
    <title>Fourpawsdoodles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  </head>

  <body>
    <%= render partial: '/sessions/navbar' %>
    <%= yield %>
  </body>
</html>
